<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
<div style="background-color: White; color: Black; height: 15px;">  
</div>  
<div style="background-color: White; color: Black; height: 175px;">  
    <div style=" padding:25px;">  
        
        <h2>Error:</h2>  
        
        <h3>  An error occurred while processing your request. </h3>  
        
        <h4>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h4>  
        <br />  
        <br />  
    </div>  
</div>  
<div style="background-color: White; color: Black; height: 25px;">  
</div>  
