
<div id="content-locked">
    <i class="fad fa-user-lock fa-3x"></i>
    <span>Access to <b>@ViewBag.Title</b> requires an active login.</span>
    
    <p><a href="~/Profile/SignIn">Sign-In</a> or <a href="~/Profile/SignUp">Sign-Up</a> to access this page.</p>
</div>


