@model Reciplease.Models.User
@{
	ViewBag.Title = "Your Account";
}
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
	body {
		font-family: 'Montserrat';
	}
</style>
<h2>Your Account</h2>
<br />
@if ( !Model.IsAuthenticated )
{
	@Html.Partial( "NotAuthenticated" )
}
else
{
	// put something here



<a class="button" href="~/Profile/CreateRecipe">Create Recipe</a>
<a class="button" href="~/Profile/UserRecipes">View Your Recipes</a>
<a class="button" href="~/Profile/UpdateUser">Update User</a>
<a class="button-red" style="float:right;" id="delete" onclick="deleteMe()">Delete Account</a>

}
<script>

	function deleteMe() {
		let deleteConf = confirm("Are you sure you want to delete your account?");

		if (deleteConf) {
			$.ajax({
        type: "GET",
        url: '@Url.Action( "DeleteUser", "Profile")',
		async: true,
        success: function (msg) {
			alert("Account Deleted")
			
        },
        error: function () {
            alert("Error deleting account. Please contact developers.")
        }
    });
		}


	}
	
</script>


