@model Reciplease.Models.User
@{
	ViewBag.Title = "User Account";
}
<h2>@ViewBag.Title</h2>

@if ( !Model.IsAuthenticated )
{
	@Html.Partial( "NotAuthenticated" )
}
else
{
	// put something here



<a class="button" href="~/Profile/CreateRecipe">Create Recipe</a>
<a class="button" href="~/Profile/UserRecipes">View Your Recipes</a>
<a class="button" href="~/Profile/UpdateUser">Update User</a>
<a class="button-red" id="delete" onclick="deleteMe()" href="~/Profile/DeleteUser">Delete Account</a>

}
<script>

	function deleteMe() {
		let deleteConf = confirm("Are you sure you want to delete your account?");

		if (deleteConf) {
			$.ajax({
        type: "GET",
        url: '@Url.Action( "DeleteUser", "Profile")',
		async: true,
        success: function (msg) {
			alert("Account Deleted")
			
        },
        error: function () {
            alert("Error deleting account. Please contact developers.")
        }
    });
		}


	}
	
</script>


