@{ ViewBag.Title = "Contact"; }
<br />
<h2>@ViewBag.Title</h2>
<br />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
	body {
		font-family: 'Montserrat';
	}
</style>

<address>
	Reciplease Development Team<br />
	Isaake Galle, Brandon Wernke, Omonigho Odairi and Kaitlin Cordell<br />
</address>

<address>
	<strong>Support:</strong>   <a href="mailto:reciplease.help@gmail.com">reciplease.help@gmail.com</a><br />
</address>
