@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Reciplease Development Team<br />
    Isaake Galle, Brandon Wernke, Omonigho Odairi and Kaitlin Cordell<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:reciplease.help@gmail.com">reciplease.help@gmail.com</a><br />
</address>
